@mixin link($color) {
  border-bottom: 1px solid $color;
  text-decoration: none;
  color: $color;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  &:focus,
  &:active {
    border-bottom: 1px solid $color;
    text-decoration: none;
    color: darken($color, 10%);
  }
}

@mixin btn($color, $bgColor, $borderColor) {
  display: block;
  padding: 14px 15px;
  width: 100%;
  border-radius: 2px;
  background-color: $bgColor;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  border: solid 1px $borderColor;
  text-align: center;
  color: $color;
  font-size: 17px;
  line-height: 12px;
  font-weight: bold;
  cursor: pointer;
  appearance: none;

  &:hover {
    background-color: darken($bgColor, 5%);
  }
}