/*
* Colors & background for form components
*/

// Field
$apDefaultBorder: 1px solid #aaaaaa;
$apInputBg: #ffffff;
$apFieldColor: #4e4e4e;

// Labels & other text
$apTextColor: #727272;

// Tooltips
$apErrorBg: #80A8B3;
$apErrorColor: #ffffff;
$apInfoBg: #CECECE;
$apInfoColor: $apTextColor;

// Result page
$apPanelBg: #eeeeee;
$apPanelBtnBg: #afafaf;

// Other
$apBrandColor: #e15f19;
